#parent {
position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    background-color: #C4CD14;
    border-radius: 200px;
}

#child {
    background-color: #fff;
    position: absolute;
    left: 80px;
    top: 70px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    z-index: 3;
}

#child1 {
    background-color: #fff;
    position: absolute;
    right: 80px;
    top: 70px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    z-index: 3;
}

#nos{
    background-color: #fff;
    position: absolute;
    left: 165px;
    top: 200px;
    width: 70px;
    height: 70px;
    z-index: 3;
    border-radius: 35px;
}


#rot{
    background-color: #fff;
    position: absolute;
    left: 100px;
    top: 155px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    z-index: 1;
}
#ov{
    background-color: #C4CD14;
    position: absolute;
    left: 50px;
    top: 30px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    z-index: 2;
}
