#wrapper {
	width: 700px;
	margin: 50px auto;
	text-align: justify;
	border: 1px solid black;
}
#menu {
	display: flex;
	margin-bottom: 20px;
	background-color: #484848;
}
#content h1 {
	text-align: center;
	margin-bottom: 10px;
}
h1 {
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}
#menu a {
	padding: 10px 25px;
	text-decoration: none;
	color: #fff;
	font: bold 14px Arial;
}
#menu a:hover,
#menu a.active {
	color: #484848;
	background-color: #fff;
}
#content a {
	color: blue;
	text-decoration: none;
	font-weight: bold;
}
