#elem1 {
	position: absolute;
	top: 30px;
	left: 30px;

	width: 100px;
	height: 100px;
	background: #ff8888;
}

#elem2 {
	position: absolute;
	top: 90px;
	left: 90px;

	width: 100px;
	height: 100px;
	background: #7e89eb;
	z-index: 2;
}

#elem3 {
	position: absolute;
	top: 150px;
	left: 150px;

	width: 100px;
	height: 100px;
	background: #7eeb99;
}
