#menu {
	display: flex;
	background-color: #16a177;
}
#menu a {
	padding: 15px 40px;
	font: 16px Arial;
	text-decoration: none;
	color: white;
}

#menu a.active {
	background-color: #16785c;
}
#menu a:hover {
	background-color: #16785c;
}
