#parent {
	position: relative;
	width:700px;
	height: 600px;
	margin: 0 auto;
	border: 1px solid green;
	background-color: #4DEE99;
}
#child {
	position: absolute;
	top: 60px;
	left: 60px;
	background-color: white;
	width: 100px;
	height: 100px;
}
#child1 {
	position: absolute;
	bottom: 50px;
	right: 50px;
	
	width: 100px;
	height: 100px;
	background-color: white;
}