#elem1 {
	width: 70px;
	height: 70px;
	border: 1px solid red;
	background-color: #FF8888;
}
#elem2 {
	width: 70px;
	height: 70px;
	border: 1px solid blue;
	position: absolute;

	left: 55px;
	top: 55px;

background-color: #7E89EB;
}
#elem3 {
	width: 70px;
	height: 70px;
	border: 1px solid green;
	position: absolute;
    left: 100px;
	top: 100px;

	background-color: #4DEE99;
}
