#menu {
	display: flex;
	flex-direction: column;
	width: 300px;
}
#menu a {
	margin-bottom: 10px;
	padding: 15px 25px;
	font: 16px Arial;
	text-decoration: none;
	color: white;
	border: 1px solid #16a177;
	background-color: #16a177;
}
#menu a:hover,
#menu a.active {
	color: #16a177;
	background-color: white;
}
#menu a:hover {
	color: #16a177;
	background-color: white;
}
