#elem1 {
	width: 70px;
	height: 70px;
	border: 1px solid red;
}
#elem2 {
	width: 70px;
	height: 70px;
	border: 1px solid blue;
	position: absolute;

	left: 55px;
	top: 55px;

}
#elem3 {
	width: 70px;
	height: 70px;
	border: 1px solid green;
	position: absolute;
    left: 100px;
	top: 100px;
}
