#parent {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #4DEE99;
    border-radius: 250px;
}

#child {
    background-color: #ffff;
    position: absolute;
    left: 100px;
    top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#child1 {
    background-color:#ffff;
    position: absolute;
    right: 100px;
    top: 70px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

#nos{
background-color: #fff;
    position: absolute;
    left: 215px;
    top: 200px;
    width: 70px;
    height: 70px;
}

#rot{
    background-color: #fff;
    position: absolute;
    left: 150px;
    top: 350px;
    width: 200px;
    height: 20px;
}