#header {
	background: #008040;
	color: white;
}
.wrapper {
	margin-bottom: 30px;
}
* {
	box-sizing: border-box;
}
body {
	font-family: Arial;
}
.center {
	width: 840px;
	padding: 10px;
	margin: 0 auto;
}
#header h1 {
	font-size: 35px;
	margin-bottom: 7px;
	text-align: center;
}
#header p {
	font-size: 21px;
	margin-bottom: 5px;
	text-align: center;
}
.wrapper h2 {
	margin-bottom: 10px;
	text-align: center;
	font-size: 27px;
}
.wrapper p,
.wrapper li {
	margin-bottom: 10px;
	text-align: justify;
	font-size: 16px;
}
#contacts p {
	text-align: center;
}
body,
p,
h1,
h2,
ul,
ol {
	margin: 0;
	padding: 0;
}
#services {
	background-color: white;
}
.wrapper {
	margin-bottom: 30px;
}
#footer {
	padding-top: 100px;
	background: #ff8040;
	color: white;
	text-align: center;
	font-size: 13px;
}
#contacts {
	background-color: #c60304;
	color: white;
}
