#parent {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 60px auto;
	border: 1px solid red;
}
#child {
	position: absolute;
	top: -1px;
	left: -70px;
	
	width: 50px;
	height: 50px;
	border: 1px solid green;
}
#child1 {
	position: absolute;
	top: -1px;
	left: 320px;
	
	width: 50px;
	height: 50px;
	border: 1px solid green;
}