#elem1 {
	width: 70px;
	height: 70px;
	border: 1px solid red;
}
#elem2 {
	width: 70px;
	height: 70px;
	border: 1px solid blue;
	position: absolute;

	left: 90px;
	top: 100px;

}
#elem3 {
	width: 70px;
	height: 70px;
	border: 1px solid green;
	position: absolute;
    left: 180px;
	top: 200px;
}
